@model Boiler.ViewModels.PublishGameViewModel;
@using Boiler.Models;
@inject BoilerContext _context;
@{
    ViewBag.Context = _context;
}
@{
    ViewData["Title"] = "Publish Game";
    var data = ViewBag.Context as BoilerContext;
}
<html>
    <head>
        <title>Publishing</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/js/PublishGame.js"></script>
    </head>
    <body>
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["ErrorMessage"] Please consider <a asp-controller="AddBalance" asp-action="Index">add balance</a>.
            </div>
        }
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-12">
                <div class="card">
                    <form asp-controller="PublishGame", asp-action="Index" method="post">
                        <div class="card-header text-center">
                            <h5 class="card-title">
                                Publish your game
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-header">
                                        Basic data
                                    </div>
                                    <div class="card-body">
                                        Name
                                        <input class="form-control mb-3" type="text" placeholder="Your game's name here" required asp-for="Name"/>
                                        Price
                                        <input class="form-control mb-3" type="number" value="0.00" step="0.01" placeholder="0.00" required asp-for="Price"/>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Categories
                                    </div>
                                    <div class="card-body">
                                        @foreach (var item in data!.Categories) {
                                            <input type="checkbox" class="btn-check" value=@item.Id name="Categories" id="category:@item.Id" autocomplete="off">
                                            <label class="btn btn-outline-primary my-1" for="category:@item.Id">@item.Name</label>
                                        }
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Achievements
                                    </div>
                                    <div class="card-body">
                                        <div class="d-grid gap-2 mb-3" id="achievements_container">
                                        </div>
                                        <div class="d-grid gap-2 mb-3">
                                            <button class="btn btn-warning" type="button" id="add_achievement">Add achievement</button>
                                        </div>
                                        <div class="d-grid gap-2 mb-3" id="remove_button_container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 card-text">
                                <small class="d-flex text-muted justify-content-center">Publishing a game will cost you 100$</small>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Publish!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   
        @* <script>
            const inputField = document.getElementById("price");
            inputField.addEventListener("input", function() {
                const value = parseFloat(this.value);
                this.value = value.toFixed(2);
            });
        </script> *@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>